/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background:245,245,245;
  --color-faint:160,160,160;
  --color-h1-theme:16,16,16;
  --color-link-theme:127,127,127;
  --color-logo-theme:16,16,16;
  background-color: rgba(var(--background));
}
.dark{
  --background:16,16,16;
  --color-faint: 160,160,160;
  --color-h1-theme: 240, 240, 240;
  --color-link-theme: 200, 200, 200;
  --color-logo-theme: 240, 240, 240;
  background-color: rgba(var(--background));
}

.parent-container{
    display: flex;     
    flex-direction: column; 
    overflow: hidden;  
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 16, 16, 16; /* Default to dark mode */
  --color-faint: 160, 160, 160;
  --color-h1-theme: 240, 240, 240;
  --color-link-theme: 200, 200, 200;
  --color-logo-theme: 240, 240, 240;
  background-color: rgba(var(--background));
}

.light {
  --background: 245, 245, 245;
  --color-faint: 160, 160, 160;
  --color-h1-theme: 16, 16, 16;
  --color-link-theme: 127, 127, 127;
  --color-logo-theme: 16, 16, 16;
  background-color: rgba(var(--background));
}

.parent-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
